<footer class="bg-light py-4">
    <div class="container">
      <div class="row text-center text-md-start align-items-center">
        <!-- Social Icons Section -->
        <div class="col-md-4 mb-3 mb-md-0 d-flex justify-content-center justify-content-md-start">
          <a href="#" class="social-icon">
            <i class="fa-brands fa-facebook-square fa-2x"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fa-brands fa-instagram fa-2x"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fa-brands fa-linkedin fa-2x"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fa-brands fa-twitter-square fa-2x"></i>
          </a>
        </div>
  
        <!-- Brand Section -->
        <div class="col-md-4 text-center mb-3 mb-md-0">
          <p class="mb-0 footer-brand">&copy; StayScape Private Limited</p>
        </div>
  
        <!-- Links Section -->
        <div class="col-md-4 d-flex justify-content-center justify-content-md-end">
          <a href="/privacy" class="footer-link mx-3">Privacy</a>
          <a href="/terms" class="footer-link mx-3">Terms</a>
        </div>
      </div>
    </div>
  </footer>
  