<% layout("./layouts/boilerplate") %>

<h1 class="col-6 offset-3">Signup on Adventura</h1>

<div class="row">
  <div class="col-6 offset-3">
    <!-- Signup form -->
    <form action="/signup" method="POST" class="needs-validation" novalidate>
      <!-- Username field -->
      <div class="mb-3">
        <label class="form-label" for="username">Username:</label>
        <input
          type="text"
          name="username"
          id="username"
          placeholder="Add a Username"
          class="form-control"
          required
        />
        <div class="valid-feedback">Available...</div>
        <div class="invalid-feedback">Not Available...</div>
      </div>

      <!-- Email field -->
      <div class="mb-3">
        <label class="form-label" for="email">Email:</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Add an Email"
          class="form-control"
          required
        />
      </div>

      <!-- Password field -->
      <div class="mb-3">
        <label class="form-label" for="password">Password:</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Add a Password"
          class="form-control"
          required
        />
      </div>

      <!-- Submit button -->
      <button class="btn btn-success" type="submit">Sign Up</button>
    </form>
  </div>
</div>
